@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    color:white;
    background-color: #477243;

}

html {
    height: 100vh;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Roboto Mono",monospace;
}

body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1;
    margin-bottom: 30vh;
}

.screen {
    text-align:end;
    padding: 8px;
}

.screen-history {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

.screen-main {
    display: table-cell;
    vertical-align: bottom;
    width: 264px;
    height: 40px;
    font-size: 30px;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    width: max-content;
}

.key {
    box-sizing: border-box;
    width: 64px;
    height: 64px;

    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    outline: 1px solid white;
}


#add,
#substract,
#multiply,
#divide,
#equals {
    background-color:#355432
}

#clear {
    background-color: #543232;
}

#equals {
    background-color: #a85d02;
    grid-column: span 3;
    width: 208px;
}