@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    color:white;
    background-color: #477243;

}

html {
    height: 100vh;
    display: flex;;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Roboto Mono",monospace;
}

body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1;
    margin-top: 10vh;
    margin-bottom: 30vh;
}

.screen {
    text-align:end;
    padding: 8px;
}

.screen-history {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;

    width: 264px;
}

.screen-main {
    display: table-cell;
    vertical-align: bottom;
    width: 264px;
    height: 40px;
    font-size: 30px;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    width: max-content;

    cursor: pointer;

}

.key {
    box-sizing: border-box;
    width: 64px;
    height: 64px;

    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;

    background-color: #548551;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}


.operator {
    background-color: #355432;
}

.escape {
    background-color: #543232;
}

.enter {
    background-color: #355432;
    grid-column: span 3;
    width: 208px;
}


/* KEY PRESSED ANIMATION */

.pressed {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.footer {
    position: absolute;
    bottom: 0;
}

.fa-github {
    transition: transform 0.2s ease-in-out;
  }

.fa-github:hover {
    transform: rotate(360deg) scale(1.4);
  }